* {
  margin: 0;
  padding: 0;
}
.blog-secc {
  height: 150vh;
  width: 100%;
  background-color: rgb(226, 220, 220);
}
.bt-divv {
  background-color: rgb(240, 230, 230);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.blogss {
  display: flex;
  justify-content: center;
  height: 380px;
  width: 380px;
  margin-top: 110px;
  background-color: green;
}
